# ENVIRON/ENERGY 716 - Lab 1
# Intro to Python | Simple Operations | Defining objects

Let's start with a simple print command.

In [1]:
print('Hello World', 1 + 1)

Hello World 2

### Simple math operation using a Jupyter notebook.

In [2]:
#Addition
2 + 3

5

In [3]:
#Subtraction
5 - 4

1

In [4]:
# Multiplication
2 * 2

4

In [5]:
# Division
10 / 5

2.0

In [6]:
## Integer division
10 // 5

2

In [7]:
## Compare the outputs from each operator / and // 
11/5

2.2

In [8]:
11//5

2

In [9]:
# Potentiation
4 ** 2

16

In [10]:
# Use paranthesis to define order of operations
(2 + 3) * 2

10

Now lets see how to create variables.

In [11]:
x = 5

In [12]:
x

5

In [13]:
x = 10

In [14]:
x

10

In [15]:
x + 3

13

In [16]:
y = 3

You can do any math operation using the variables created.

In [17]:
x + y

13

You can create variable that takes strings or characters instead fo numbers.

In [18]:
name = 'Luana'

In [19]:
name

'Luana'

String variables are stored by character. You can access each character using the [] and the number of interest inside the square brackets.
Pyhton start counting at 0. If you want the first character on your variable you should point to [0]. If you want the last but do not now the size of your string use [-1].

In [20]:
name[0]

'L'

In [21]:
name[-1]

'a'

You can create vectors and matrices using the square brackets and access each element. You can add new elements to a vector by using .apend().

In [22]:
z = [1, 2, 3, 4, 5, 6]

In [23]:
z

[1, 2, 3, 4, 5, 6]

In [24]:
z[1]

2

In [25]:
z[1:3]

[2, 3]

In [26]:
z[-1]

6

In [27]:
z.append(7)

In [28]:
z

[1, 2, 3, 4, 5, 6, 7]

You can create lists. A list is a set of elements, any mix of variables, vectors, matrices can be stored in a list. The elements do not need to be of the same type.

In [29]:
newlist = [1, 2, 'Luana']

In [30]:
newlist

[1, 2, 'Luana']