# Python for Data Analysis
## ENV.716 Labs 1 & 2

In [1]:
print("Hello World", 1+1)

Hello World 2

In [2]:
2 + 3

5

In [3]:
5 - 4

1

In [4]:
2 * 2

4

In [5]:
10 / 5

2.0

In [6]:
# casting the result as an integer
int(10 / 5)

2

In [7]:
# keeps the result an integer
10 // 5

2

In [8]:
# the same as using an exponent in math
4 ** 2

16

In [9]:
(2 + 3) * 2

10

In [10]:
x = 5
x

5

In [11]:
y = 3

In [12]:
x + y

8

In [13]:
name = "Luana"

In [14]:
name[0]

'L'

In [15]:
name[-1]

'a'

In [16]:
z = list(range(1,7))

In [17]:
z

[1, 2, 3, 4, 5, 6]

In [18]:
z[1]

2

In [19]:
z[1:3]

[2, 3]

In [20]:
z[-1]

6

In [21]:
newlist = [1, 2, "Luana"]

In [22]:
newlist

[1, 2, 'Luana']

In [23]:
newlist.append("Reed")

In [24]:
newlist

[1, 2, 'Luana', 'Reed']

## ENV.716 Assignment 2

In [1]:
print("I am Reed Leon-Hinton, and I am very happy to have completed A2.")

I am Reed Leon-Hinton, and I am very happy to have completed A2.