<a href="https://colab.research.google.com/github/lmmlima/ENV716_EnergyModeling_F2021/blob/main/Lab3/Lab3_PivotTables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 3 – More on Filtering Data Sets and Pivot Tables in Python**

Learning goals for Lab 3:

*   Learn how to change column type from character to float/int;
*   Learn how to create pivot tables from a data frame using function pivot_table();
*   Learn how to save your table as an excel file.

If you have not mounted google drive yet please do so by running the code chunk below.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Set up working directory.

In [4]:
import os
os.chdir('/content/drive/MyDrive/ColabNotebooks/')

Before we get started take a look at the Runtime tab and all the ways you can run your notebook code chunks.


*   Run all
*   Run before
*   Run selection
*   Run after

# Import Excel File

In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_excel("egrid2019_data.xlsx",sheet_name="GEN19",skiprows=1,keep_default_na=False)
df.head()

   SEQGEN19  YEAR PSTATABB  ... GENERSRC  GENYRONL GENYRRET
0         1  2019       AK  ...
1         2  2019       AK  ...               1977
2         3  2019       AK  ...               1977
3         4  2019       AK  ...               1977
4         5  2019       AK  ...               1977

[5 rows x 17 columns]

In [7]:
df.columns

Index(['SEQGEN19', 'YEAR', 'PSTATABB', 'PNAME', 'ORISPL', 'GENID', 'NUMBLR',
       'GENSTAT', 'PRMVR', 'FUELG1', 'NAMEPCAP', 'CFACT', 'GENNTAN', 'GENNTOZ',
       'GENERSRC', 'GENYRONL', 'GENYRRET'],
      dtype='object')

# Building a Pivot Table with Python

A pivot table allows you to reshape your original table or data frame. Pandas offers two functions to pivot tables: pivot() and pivot_table(). The pivot_table() is a generalization of pivot() that allows you to aggregate multiple values and create summaries. 

The pivot_table() function takes two main arguments: index and columns. The index will identify which column of the data frame you want to be represented in the rows of the pivot table. If you think about the pivot table in Excel, the elements will put in the Rows category should be the same as you put in index. Columns is whichever element from the data frame you want to appear in the columns of the pivot. 

The documentation for pivot_table() can be found at:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html.

Let’s see how to use pivot_table() to solve problem 1. First you need to import the sheet UNT18 to Python.

In [8]:
df['GENYRONL']=pd.to_numeric(df['GENYRONL'])

In [9]:
df.dtypes

SEQGEN19      int64
YEAR          int64
PSTATABB     object
PNAME        object
ORISPL        int64
GENID        object
NUMBLR        int64
GENSTAT      object
PRMVR        object
FUELG1       object
NAMEPCAP     object
CFACT        object
GENNTAN      object
GENNTOZ      object
GENERSRC     object
GENYRONL    float64
GENYRRET     object
dtype: object

Because we want to filter only unit online between 2007 and 2018. Let’s create a subset of units. that satisfy that before entering pivot_table().

In [22]:
sub_df=df[(df.GENYRONL >= 2007) & (df.GENYRONL <= 2018)]

In [23]:
sub_df=sub_df.loc[:,['PSTATABB','PNAME','FUELG1','CFACT','GENYRONL']]

In [24]:
sub_df.head()

   PSTATABB                PNAME FUELG1  CFACT  GENYRONL
13       AK             Alakanuk    DFO -0.002    2013.0
18       AK  Allison Creek Hydro    WAT  0.336    2016.0
22       AK          Anchorage 1     NG  0.022    2007.0
24       AK          Anchorage 1    DFO      0    2012.0
30       AK               Angoon    DFO  0.123    2009.0

If you want to fix the decimal points on the UNTYRONL columns we can use the to_numeric() conversion again, but specify you want the column to be converted to integer using argument downcast=’signed’. You can use ’signed’ or ‘integer’.

In [25]:
sub_df['GENYRONL']=pd.to_numeric(sub_df['GENYRONL'],downcast='signed')

In [26]:
sub_df.head()

   PSTATABB                PNAME FUELG1  CFACT  GENYRONL
13       AK             Alakanuk    DFO -0.002      2013
18       AK  Allison Creek Hydro    WAT  0.336      2016
22       AK          Anchorage 1     NG  0.022      2007
24       AK          Anchorage 1    DFO      0      2012
30       AK               Angoon    DFO  0.123      2009

To create a pivot table you need to use the pivot_table() function. If you want states in the rows specify index= ‘PSTATABB’ and to get year in the columns specify columns=‘GENYRONL’. 
Since we want to count units that come online each year specify aggfunc=”count”.You can include another argument that says values=’PNAMES’ so the function nows what to count. It could be any column on sub_df assigned to values. We are just making sure the counting only happens once.

In [27]:
pivot1=sub_df.pivot_table(values="PNAME",index="PSTATABB",columns="GENYRONL",aggfunc="count",margins=True)
pivot1.head(10)

GENYRONL  2007  2008  2009  2010   2011  ...   2015   2016   2017  2018   All
PSTATABB                                 ...
AK        12.0  14.0  13.0  20.0    5.0  ...   23.0   12.0   14.0   3.0   171
AL         1.0   3.0   NaN   6.0    2.0  ...    NaN    1.0    6.0   1.0    24
AR        10.0   NaN   1.0   8.0    NaN  ...    1.0    2.0    3.0   1.0    28
AZ         NaN   6.0   7.0   7.0   33.0  ...    8.0   12.0   11.0   6.0   147
CA        30.0  41.0  47.0  71.0  129.0  ...  179.0  132.0  124.0  88.0  1355
CO        12.0  22.0  11.0  10.0    8.0  ...   14.0   12.0   17.0  16.0   160
CT         2.0   9.0   6.0  23.0    9.0  ...    5.0   16.0    6.0  25.0   121
DC         NaN   NaN   NaN   NaN    NaN  ...    3.0    1.0    NaN   1.0     5
DE         NaN   NaN   NaN   2.0    4.0  ...    3.0    NaN    1.0   2.0    26
FL        16.0  15.0  24.0   9.0   20.0  ...   12.0   25.0   20.0  24.0   189

[10 rows x 13 columns]

If you want to fix the NaN, you can add the fill_value argument to the function as bellow.

In [28]:
pivot1=sub_df.pivot_table(values="PNAME",index="PSTATABB",columns="GENYRONL",aggfunc="count",fill_value="",margins=True)
pivot1.head(51)

GENYRONL 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018   All
PSTATABB
AK         12   14   13   20    5   21   20   14   23   12   14    3   171
AL          1    3         6    2         3    1         1    6    1    24
AR         10         1    8         1    1         1    2    3    1    28
AZ               6    7    7   33   30   19    8    8   12   11    6   147
CA         30   41   47   71  129  164  169  181  179  132  124   88  1355
CO         12   22   11   10    8   19   11    8   14   12   17   16   160
CT          2    9    6   23    9    7    4    9    5   16    6   25   121
DC                                                  3    1         1     5
DE                         2    4    4    8    2    3         1    2    26
FL         16   15   24    9   20    4   11    9   12   25   20   24   189
GA          4    2    8    3   12   12   14    7   11   28    6    6   113
HI          1   12    2    3    2   11    1    4    2   16    9   10    73
IA         10   13   15    7   18   23    8   11   19   17   17   13   171
ID          2    7    6    7   14   15    1    4    2    4    6    2    70
IL         13    8   11   13   20   20    2    6   12   14    6    3   128
IN          8    2   15   17   10   10   15   18   16   17   16   12   156
KS          5   20    5   10    2   12    4   17    6   12   15    4   112
KY          6    1    1    4    1         1         4    9   12         39
LA          1    1    1    5    5    1         4        13              31
MA          7    3    8    6   21   28   53   57   28   42   93   47   393
MD         18    1    8    3    6   10    5   10   23   13    8   24   129
ME          1    5    9    2    4    2    6    1    2    6    3         41
MI          7    5   10    5    7   25    8    8    6   11   16    8   116
MN         17   23   18   14   41    6    5    6    5   55  126  166   482
MO          2   10    4    2    4    1    3    5    5    5    8   14    63
MS                                   3         3         1    4    1    12
MT          2    2    4    1    6    5    3    2         3    6    5    39
NC         33    8    2   15   38   51   82  106  143  113   83   56   730
ND          3    4    7    4         6    2    4    5    6   16    2    59
NE                    3    4    5    2    1    6    2    5    8    9    45
NH               2                   2    1              2               7
NJ         13    8   17   15   67   72   36   18   24   32   10   31   343
NM          1    8    2    2   20   13   15    8   11    4    8   10   102
NV          7   19   11    8    4   18    5   11   15   12    7   10   127
NY         27   39   27   44   33   24   15   12   22   25   35   66   369
OH          6    7         7   17   25   18    7   10    8   23   25   153
OK          1    6    6    5    7   10    1    4    9   12   16    6    83
OR         15    2   25   13    7   15    2   19    9   14   20   12   153
PA          7   25   19   12   26   19   21    1    9   16   12   15   182
PR          8    5    4         3    3    2    4    6    8         3    46
RI                                   2    8    3    3   11    6    5    38
SC          3    8    3    5    9    1    5    1    2    2   18   22    79
SD               1    3    2    3    2    1    1    2    1         4    20
TN                         4    3    9    2    2    1    6    3    8    38
TX         28   33   30   59   42   29   11   32   40   41   44   49   438
UT          7    7    4    2    1    6    4    3   17   18    1    6    76
VA         37   46   15   17    4    7   23    4    7   28   18    9   215
VT          5    6    1    2    3    5    4    9    2   22    4    5    68
WA          5    8   24    4    7    7   10    2    2    3    2    4    78
WI         12   10    8    5    8    7   28    2         4   12    2    98
WV               2    1    1    4                   1    3    2         14

If you want to change the name of the summary columns you can add another argument margins_name="Total".

In [29]:
pivot1=sub_df.pivot_table(values="PNAME",index="PSTATABB",columns="GENYRONL",aggfunc="count",margins_name="Total",fill_value="",margins=True)
pivot1.head(10)

GENYRONL 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018  Total
PSTATABB
AK         12   14   13   20    5   21   20   14   23   12   14    3    171
AL          1    3         6    2         3    1         1    6    1     24
AR         10         1    8         1    1         1    2    3    1     28
AZ               6    7    7   33   30   19    8    8   12   11    6    147
CA         30   41   47   71  129  164  169  181  179  132  124   88   1355
CO         12   22   11   10    8   19   11    8   14   12   17   16    160
CT          2    9    6   23    9    7    4    9    5   16    6   25    121
DC                                                  3    1         1      5
DE                         2    4    4    8    2    3         1    2     26
FL         16   15   24    9   20    4   11    9   12   25   20   24    189

You can export your pivot table to Excel using the command .to_excel() as below. And a excel file will be created on your working directory.

In [30]:
pivot1.to_excel("output1.xlsx")

Where was you file stored?? Since you did not specify the path, the code you store it at your current working directory.

One of the confusing points with the pivot_table() is the use of columns and values. Remember, columns provide a way to segment the values you care about. The aggregation functions are applied to the values you list. Let’s see a couple more examples.

Let’s create a table that shows average capacity factor by state of the generators that came online in 2007, 2008, …, 2018. You need to change values to ‘CFACT’ and aggfunc to “mean”.

In [31]:
sub_df.dtypes

PSTATABB    object
PNAME       object
FUELG1      object
CFACT       object
GENYRONL     int16
dtype: object

In [32]:
sub_df['CFACT']=pd.to_numeric(sub_df['CFACT'])

In [33]:
sub_df.dtypes

PSTATABB     object
PNAME        object
FUELG1       object
CFACT       float64
GENYRONL      int16
dtype: object

In [35]:
pivot2=sub_df.pivot_table(values="CFACT",index="PSTATABB",columns="GENYRONL",aggfunc="mean",margins_name="Total",fill_value="",margins=True)
pivot2.head(10)

GENYRONL      2007      2008      2009  ...      2017      2018     Total
PSTATABB                                ...
AK        0.228583  0.170786  0.195923  ...  0.167231  0.154667  0.197476
AL           0.988     0.688            ...  0.213667      0.21  0.496583
AR          0.2777               0.481  ...  0.385667     0.229  0.434107
AZ                  0.251333  0.321286  ...  0.186455    0.1845  0.244925
CA          0.1945    0.3365  0.253444  ...  0.352598  0.342908  0.270319
CO        0.184083  0.158727  0.190364  ...  0.248294    0.2466   0.26039
CT          0.2985  0.411333  0.531667  ...  0.128833   0.22008   0.28275
DC                                      ...               0.868    0.5764
DE                                      ...     0.198    0.1545  0.439885
FL        0.479312    0.5184  0.392458  ...   0.32145   0.29975  0.392527

[10 rows x 13 columns]

Now let’s create a table that count unit again but let’s include another layer discretization, unit primary fuel. Add another element ‘FUELU1’ to the index argument as show below.

In [36]:
pivot3=sub_df.pivot_table(values="PNAME",index=["PSTATABB","FUELG1"],columns="GENYRONL",aggfunc="count",margins_name="Total",fill_value="",margins=True)
pivot3.head(10)

GENYRONL        2007 2008 2009 2010 2011 2012  ... 2014 2015 2016 2017 2018 Total
PSTATABB FUELG1                                ...
AK       DFO       9    9    9   20    3   12  ...    7    8   11   11    3   111
         LFG                                4  ...                              5
         MWH                                1  ...         2                    3
         NG        1    3    1                 ...    3   10         3         27
         WAT            1    1                 ...    4    2    1               9
         WND            1    2         2    4  ...         1                   14
         WO        2                           ...                              2
AL       BLQ       1                           ...    1              1          3
         LFG                      1    1       ...                              5
         MWH                                   ...                   1          1

[10 rows x 13 columns]

# Exercise H4 - 1

1) Using the spreadsheet PLNT19, build a table that shows for each type of fuel and for each state the following information :

*   Number of plants, 
*   Total nameplate capacity in MW
*   Average capacity factor

To determine the fuel used by the plant, lets refer to: Plant primary coal/oil/gas/ other fossil fuel category (Column Y in the PLNT19 tab )

In [41]:
df_plt=pd.read_excel("egrid2019_data.xlsx",sheet_name="PLNT19",skiprows=1,keep_default_na=False)
df_plt.head()

   SEQPLT19  YEAR PSTATABB  ... PLTHPR  PLCYPR PLCNPR
0         1  2019       AK  ...
1         2  2019       AK  ...
2         3  2019       AK  ...
3         4  2019       AK  ...      0       0      1
4         5  2019       AK  ...      0       1      0

[5 rows x 140 columns]

In [38]:
df_plt.columns

Index(['SEQPLT19', 'YEAR', 'PSTATABB', 'PNAME', 'ORISPL', 'OPRNAME', 'OPRCODE',
       'UTLSRVNM', 'UTLSRVID', 'SECTOR',
       ...
       'PLWIPR', 'PLSOPR', 'PLGTPR', 'PLOFPR', 'PLOPPR', 'PLTNPR', 'PLTRPR',
       'PLTHPR', 'PLCYPR', 'PLCNPR'],
      dtype='object', length=140)

In [43]:
df_plt['NAMEPCAP']=pd.to_numeric(df_plt['NAMEPCAP'])
df_plt['CAPFAC']=pd.to_numeric(df_plt['CAPFAC'])

In [44]:
pivot4=df_plt.pivot_table(values=["PNAME","NAMEPCAP","CAPFAC"],index="PSTATABB",columns="PLFUELCT",aggfunc={"PNAME":"count","NAMEPCAP":np.sum,"CAPFAC":np.mean},margins_name="Total",fill_value="",margins=True)
pivot4.head(10)

         CAPFAC                                ... PNAME
PLFUELCT          BIOMASS      COAL       GAS  ...  OTHF SOLAR WIND Total
PSTATABB                                       ...
AK                0.36627  0.360612  0.192263  ...     4          5   144
AL               0.589018  0.282337  0.383068  ...     1    10         78
AR               0.441551   0.53012  0.203645  ...          10         61
AZ                0.66062   0.36432  0.262662  ...     4    89    6   134
CA               0.532388   0.45627  0.350857  ...    78   666  138  1437
CO                0.56914  0.429526   0.13464  ...     4    93   35   214
CT               0.614504            0.509717  ...          45    1   124
DC                0.44632             0.60567  ...           4          6
DE               0.481413   0.01719  0.404799  ...     2    12    1    30
FL            0  0.507919  0.249975   0.31311  ...     9    98        187

[10 rows x 39 columns]

# Exercise H4 - 2

2) Build a table that shows for each state, and for each type of Fossil fuel information on:

*   Number of plants
*   Total nameplate capacity in MW
*   Average capacity factor

In [ ]:
#your code

# Exercise H4 - 3

3) Build a table that shows for each state the amount of installed capacity that came online for solar and wind since year 2000. Show :
*   number of generators 
*   total nameplate capacity in MW

In [ ]:
#your code